Repository SeleniumHQ/docker-selenium, pull requests merged in 2024-09, with the labels that each got.

#2387 chart(fix): ensure images are pre-pulled and started together in Node
  charts/selenium-grid/templates/_helpers.tpl
  tests/charts/templates/render/dummy.yaml
  tests/charts/templates/render/dummy_solution.yaml
Labels: enhancement, Review effort [1-5]: 2, Bug fix

#2399 Update _helpers.tpl to adress missing resource limits in pre-puller init containers for firefox,edge,...
  charts/selenium-grid/templates/_helpers.tpl
Labels: Review effort [1-5]: 2, Bug fix

#2400 Experimental: Selenium Grid scaler in K8s implementation preview
  .github/workflows/deploy.yml
  .keda/README.md
  .keda/scalers/selenium-grid-scaler.md
  .keda/scalers/selenium_grid_scaler.go
  .keda/scalers/selenium_grid_scaler_test.go
  Makefile
  charts/selenium-grid/CONFIGURATION.md
  charts/selenium-grid/README.md
  charts/selenium-grid/values.yaml
  generate_chart_changelog.sh
  tests/charts/ci/DeploymentAutoscaling-values.yaml
  tests/charts/ci/base-auth-ingress-values.yaml
  tests/charts/make/chart_cluster_setup.sh
  tests/charts/make/chart_test.sh
  update_tag_in_docs_and_files.sh
Labels: enhancement, tests, documentation, Review effort [1-5]: 3, Other

#2401 chart(add): Grid scaler use trigger auth to secure GraphQL endpoint
  Base/check-grid.sh
  Video/video.sh
  Video/video_graphQLQuery.sh
  Video/video_gridUrl.sh
  charts/selenium-grid/CONFIGURATION.md
  charts/selenium-grid/README.md
  charts/selenium-grid/configs/distributor/distributorProbe.sh
  charts/selenium-grid/configs/node/nodeGridUrl.sh
  charts/selenium-grid/configs/node/nodePreStop.sh
  charts/selenium-grid/configs/node/nodeProbe.sh
  charts/selenium-grid/configs/router/routerGraphQLUrl.sh
  charts/selenium-grid/configs/router/routerProbe.sh
  charts/selenium-grid/templates/_helpers.tpl
  charts/selenium-grid/templates/_nameHelpers.tpl
  charts/selenium-grid/templates/basic-auth-secret.yaml
  charts/selenium-grid/templates/distributor-deployment.yaml
  charts/selenium-grid/templates/event-bus-deployment.yaml
  charts/selenium-grid/templates/hub-deployment.yaml
  charts/selenium-grid/templates/node-configmap.yaml
  charts/selenium-grid/templates/router-deployment.yaml
  charts/selenium-grid/templates/secrets.yaml
  charts/selenium-grid/templates/session-map-deployment.yaml
  charts/selenium-grid/templates/session-queue-deployment.yaml
  charts/selenium-grid/templates/trigger-auth.yaml
  charts/selenium-grid/values.yaml
  tests/charts/templates/render/dummy.yaml
  tests/charts/templates/render/dummy_solution.yaml
  tests/charts/templates/test.py
Labels: enhancement, tests, Review effort [1-5]: 4

#2402 Experimental: Selenium Grid scaler with different nodeMaxSessions per node
  .keda/README.md
  Makefile
  Video/video.sh
  charts/selenium-grid/CONFIGURATION.md
  charts/selenium-grid/templates/_helpers.tpl
  charts/selenium-grid/templates/node-configmap.yaml
  charts/selenium-grid/values.yaml
  tests/charts/make/chart_test.sh
  tests/charts/templates/render/dummy.yaml
  tests/charts/templates/render/dummy_solution.yaml
  tests/charts/templates/test.py
Labels: enhancement, tests, documentation, Review effort [1-5]: 3

#2408 chart(fix): `basicAuth.embeddedUrl` in GraphQL endpoint for old scaler compatible
  .github/workflows/helm-chart-test.yml
  Makefile
  charts/selenium-grid/CONFIGURATION.md
  charts/selenium-grid/Chart.yaml
  charts/selenium-grid/templates/_helpers.tpl
  tests/charts/ci/local-pvc.yaml
  tests/charts/make/chart_test.sh
Labels: Bug fix, tests, Review effort [1-5]: 3

#2409 [ci] Add simple Playwright parallel tests connect to autoscaling Grid in K8s
  .circleci/config.yml
  .github/workflows/helm-chart-test.yml
  .keda/README.md
  Makefile
  tests/CDPTests/.gitignore
  tests/CDPTests/bootstrap.sh
  tests/CDPTests/package.json
  tests/CDPTests/playwright.config.ts
  tests/CDPTests/tests/Tests.ts
  tests/charts/make/chart_setup_env.sh
  tests/charts/make/chart_test.sh
Labels: enhancement, tests, Review effort [1-5]: 3
